/* navbar */
nav {
  width: 100%;
  margin-bottom: 27px;
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center !important;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  column-gap: 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
a {
  margin-right: 36px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.active {
  color:var( --primary-color)
}

/* recorder view  component */
.recordView {
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px dashed #d9d9d9;
  border-radius: 8px;
  padding: 30px 0;
  cursor: pointer;
}

/* recorder component */
.recorder {
  text-align: center;
}
/* eontainer for every page */
.container {
  margin: auto;
  max-width: 42rem;
}

/* backdrop */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}

/* custom antd */
.ant-upload-list {
  display: none;
}
.ant-modal-body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Audio Words */
.audioWords{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center ;
}
.word{
  margin-right: 10px;
}
